body {
  background-color: #f9fcfc;
}
.logo {
  width: 500px;
  margin: 60px auto 20px;
}

p.quote {
  font-family: acumin-pro,sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 30px;
  text-align: center;
}